@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     outline: none;
     text-decoration: none;
     border: none;
     scroll-behavior: smooth;
     font-family: 'Montserrat', sans-serif;
}

:root {
     --main-color: #ac863b;
     --bg-color: #fff;
     --bg-second-color: #f7f8f9;
     --bg-third-color: #f4f4f4;
     --bg-transparent-main: rgb(172 134 59 / 70%);

     --text-color-dark-heading: #3a3d45;
     --text-color-light: #fff;
     --text-color-dark: #515561;
     --text-color-main: var(--main-color);

     --star-color: #ffb600;

     --border-main-color: .1rem solid var(--main-color);
     --border-white: : .1rem solid #fff;
     --border: .1rem solid #ccc;

     --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
     --box-shadow-whatsapp: 1px 1px 4px rgba(60, 60, 60, 0.4);
     --box-shadow-products: 0 6px 10px rgba(0, 0, 0, .2);
     --box-shadow-drop-down: 0 3px 4px rgba(0, 0, 0, .2);
}

html {
     font-size: 62.5%;
     overflow-x: hidden;
}

body {
     overflow-x: hidden;
}

section {
     padding: 5rem 3% 5rem;
}

header {
     padding: 0 3%;
}

footer {
     padding: 2rem 3%;
}

a {
     cursor: pointer;
}

.space {
     height: 100vh;
}

.space.black {
     background-color: rgb(49, 42, 42);
}

.space.white {
     background-color: rgb(245, 235, 235);
}

.heading {
     font-size: 3rem;
     line-height: normal;
     padding: 3rem 2rem 1rem;
     color: var(--text-color-dark);
     text-transform: capitalize;
     text-align: start;
     font-weight: 100;
}

.flex-center {
     display: flex;
     justify-content: center;
     align-items: center;
}

.btn {
     font-size: 1.5rem;
     padding: 1rem;
     background-color: var(--main-color);
     color: var(--text-color-light);
     border: var(--border-white);
     border-radius: .4rem;
     cursor: pointer;
}

.btn:hover {
     background-color: var(--bg-color);
     color: var(--main-color);
     border: var(--border-main-color);
}

.header {
     position: fixed;
     top: 0;
     right: 0;
     width: 100%;
     z-index: 100;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: var(--bg-color);
}

.header.sticky {
     box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.logo img {
     height: 8rem;
}

.navbar {
     display: flex;
     align-items: center;
}

.navbar ul {
     list-style: none;
     display: flex;
     align-items: center;
     gap: 3rem;
}

.navbar ul li {
     position: relative;
}

.navbar ul li>a {
     font-size: 1.5rem;
     font-weight: 600;
     color: var(--text-color-dark-heading);
     display: flex;
     align-items: center;
     gap: .4rem;
}

.navbar ul li>a:hover span,
.navbar ul li>a:hover i {
     color: var(--main-color);
}

.icon {
     background-color: var(--text-color-dark-heading);
     display: flex;
     align-items: center;
     justify-content: center;
     padding: .4rem;
     border-radius: 100%;
     color: var(--bg-color);
     font-size: 2rem;
     border: var(--border-main-color);
     border-color: var(--bg-color);
}

.navbar ul li>a:hover .icon {
     background-color: var(--bg-color);
     border-color: var(--main-color);
}

.drop-down {
     position: absolute;
     z-index: 101;
     display: grid;
     background-color: var(--bg-color);
     top: 100%;
     right: 0;
     font-size: 1.4rem;
     min-width: 15rem;
     border: var(--border-main-color);
     color: var(--text-color-dark-heading);
     box-shadow: var(--box-shadow-drop-down);
     border-bottom-right-radius: 1rem;
     width: max-content;
     opacity: 0;
     height: 0;
     display: none;
     transition: opacity .2s ease;
     transition: height .5s ease;
}

.drop-down>a {
     font-weight: 700;
     padding: 1.3rem;
     border-bottom: var(--border-main-color);
     color: var(--text-color-dark-heading);
     text-transform: uppercase;
}

.drop-down>a:hover {
     background-color: var(--bg-third-color);
     color: var(--main-color);
}

.drop-down>a:last-child {
     border-bottom-right-radius: inherit;
     border-bottom: none;

}

.login {
     display: flex;
     flex-direction: column;
     padding: 2rem;
}

.drop-down.login {
     display: none;
     transition: opacity .2s ease;
     transition: height .5s ease;
}

.login .line {
     display: flex;
     font-size: 1.4rem;
     align-items: center;
     justify-content: center;
     gap: 1rem;
     font-weight: 700;
     padding: 1rem 0;
}

.login .line a {
     color: var(--text-color-dark-heading);
     font-size: 1.9rem;
}

.login .line a:hover {
     color: var(--main-color);
}

.login form {
     display: flex;
     flex-direction: column;
     gap: 2rem;

}

.login .input-box {
     display: flex;
     flex-direction: column;
     gap: 1rem;
}

.login .input-box label {
     font-weight: 600;
}

.login .input-box input {
     font-size: 1.5rem;
     border: var(--border-main-color);
     padding: 1rem;
     width: 100%;
}


.login form h3 {
     text-align: center;
}

.login form p {
     font-size: 1.4rem;
     padding-bottom: 2rem;
}

.social-link-box {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 2rem;
     align-self: center;
     padding-top: 2rem;
     padding-bottom: 1rem;
     border-top: var(--border-main-color);
     /* border-color: var(--text-color-dark-heading); */
}

.social-link-box a {
     font-size: 4rem;
     color: var(--text-color-dark-heading);
}

.social-link-box a:hover {
     color: var(--main-color);
}

.navbar ul li:hover>.drop-down,
.navbar ul li:hover>.drop-down.login {
     display: grid;
     height: max-content;
     opacity: 1;
}

#hamburg,
#hamburg-hover {
     font-size: 3.5rem;
     color: var(--text-color-dark-heading);
     cursor: pointer;
     font-weight: normal;
}

#hamburg:hover,
#hamburg-hover:hover {
     color: var(--main-color);
}

#hamburg {
     display: none;
}


.home {
     padding-top: 8rem;
     position: relative;
     min-height: 500px;
     height: 100vh;
     padding: 0;
}

.home .carousel {
     max-width: 100vw;
     max-height: 100vh;
     min-height: 500px;
}

.carousel {
     overflow: hidden;
     width: 100%;
     height: 100%;
}

.carousel-container {
     display: flex;
     transition: transform 0.5s ease;
     width: 100%;
     height: 100%;
}

.carousel {
     position: relative;
     /* box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64); */
     /* margin-top: 150px; */
}

.carousel-inner {
     position: relative;
     overflow: hidden;
     width: 100%;
     height: 100%;
}

.carousel-open:checked+.carousel-item {
     position: static;
     opacity: 100;
}

.carousel-item {
     position: absolute;
     opacity: 0;
     -webkit-transition: opacity 1s ease-out;
     transition: opacity 1s ease-out;
     width: 100%;
     height: 100%;
}

.carousel-item h3 {
     position: absolute;
     top: 30%;
     font-size: 5rem;
     color: var(--text-color-light);
     font-weight: 600;
     left: 0%;
     width: 100%;
     text-align: center;
}

.carousel-item img {
     display: block;
     height: 100%;
     width: 100%;
     max-width: 100%;
     object-fit: cover;
     object-position: center;
}

.carousel-control {
     background: var(--bg-transparent-white-form);
     border-radius: 50%;
     color: var(--text-color-light);
     cursor: pointer;
     display: none;
     font-size: 3.5rem;
     height: 4rem;
     line-height: 3.5rem;
     position: absolute;
     top: 45%;
     -webkit-transform: translate(0, -50%);
     cursor: pointer;
     -ms-transform: translate(0, -50%);
     transform: translate(0, -50%);
     text-align: center;
     width: 4rem;
     z-index: 10;
     user-select: none;
     background: rgba(0, 0, 0, 0.8);
}

.carousel-control.prev {
     left: 2%;
}

.carousel-control.next {
     right: 2%;
}

.carousel-control:hover {
     background: var(--main-color);
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3,
#carousel-4:checked~.control-4,
#carousel-5:checked~.control-5 {
     display: block;
}

.form-home {
     width: 80%;
     position: absolute;
     top: 70%;
     left: 50%;
     transform: translate(-50%, -50%);
     justify-content: start;
}

.form-home>a {
     display: flex;
     background-color: var(--main-color);
     align-items: center;
     justify-content: center;
     width: fit-content;
     color: var(--text-color-light);
     padding: 1rem;
     font-size: 1.4rem;
}

.form-home>a>img {
     width: 3rem;
}

.form-home .card form {
     background-color: var(--bg-color);
     padding: 2rem;
     display: flex;
     flex-direction: column;
     gap: 2rem;
     font-size: 1.4rem;
     border-radius: .3rem;
     border-top-left-radius: 0;
}

input,
select {
     font-size: 1.5rem;
}

.form-home .card form .card-line {
     display: flex;
     gap: 1rem;
     width: 100%;
}

.form-home .input-box {
     display: flex;
     flex-direction: column;
     border: var(--border-main-color);
     border-radius: .5rem;
     width: 100%;
}

.form-home .card-line:first-child .column {
     display: flex;
     gap: 1rem;
     width: 100%;
     height: 100%;
}

.form-home label {
     padding: .5rem 1rem;
     width: 100%;
     color: grey;
     font-weight: 600;
}

.form-home .input-box input {
     padding: .1rem 1rem;
     border-radius: inherit;
     width: 100%;
}

.form-home .btn {
     border: var(--border-main-color);
     width: 100%;
     height: 4.9rem;
}

.input-box.destination {
     width: 200%;
}

.form-home .card-line:nth-last-child(2) .column {
     border: var(--border-main-color);
     border-radius: .5rem;
}

.input-check-box {
     border-right: var(--border-main-color);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: .5rem 0rem;
     gap: 1rem;
     width: 100%;
     height: 5rem;
     position: relative;
     user-select: none;
}

.input-check-box:last-child {
     border-right: none;
}

.input-check-box:hover {
     background-color: rgba(128, 128, 128, 0.048);
}

.input-check-box label {
     width: 100%;
     color: grey;
     font-weight: 600;
     text-align: center;
     height: 100%;
     cursor: pointer;
     white-space: nowrap;
}

.input-check-box input {
     display: none;
}

.input-check-box .checkmark {
     background-color: rgba(128, 128, 128, 0.171);
     width: 80%;
     height: .3rem;
     border-radius: 2rem;
     margin: .5rem 0;
     position: absolute;
     bottom: .5rem;
}

.input-check-box input[type=checkbox]:checked~.checkmark {
     background-color: var(--main-color);
}

.card-line .column {
     display: flex;
     align-items: center;
     width: 100%;
}

.input-select-box {
     display: flex;
     flex-direction: column;
     border: var(--border-main-color);
     border-radius: .5rem;
     width: 100%;
}

.form-home .input-select-box label {
     padding: .5rem 1rem;
     width: 100%;
     color: grey;
     font-weight: 600;
}

.form-home .input-select-box select {
     padding: .1rem 1rem;
     border-radius: inherit;
}

.form-home .box {
     width: 100%;
     align-items: center;
     display: flex;
     gap: 1rem;
     padding: 1rem;
     user-select: none;
}

.form-home .card-line:last-child .column {
     display: flex;
     gap: 1rem;
     width: 100%;
     height: 100%;
}

.form-home .box input {
     height: 2rem;
     width: 2rem;
}











/* responsive breakpoints less than 5200px  */

@media (width<=5200px) {
     html {
          font-size: 220%;
     }
}

@media (width<=5000px) {
     html {
          font-size: 200%;
     }
}

@media (width<=4500px) {
     html {
          font-size: 180%;
     }
}


@media (width<=4000px) {
     html {
          font-size: 160%;
     }
}

@media (width<=3500px) {
     html {
          font-size: 140%;
     }
}

@media (width<=3000px) {
     html {
          font-size: 120%;
     }
}

@media (width<=2500px) {
     html {
          font-size: 100%;
     }
}

@media (width<=2000px) {
     html {
          font-size: 80%;
     }
}

@media (width<=1500px) {
     html {
          font-size: 60%;
     }
}

@media (width<=1200px) {
     html {
          font-size: 55%;
     }
}

@media (width<992px) {
     html {
          font-size: 50%;
     }

     #hamburg {
          display: block;
     }

     .navbar {
          position: absolute;
          background-color: var(--bg-color);
          top: 100%;
          left: 0;
          right: 0;
          width: 100%;
          min-height: 88vh;
          padding-top: 1rem;
          border-top: var(--border-main-color);
          display: none;
          transform: translateY(-100%);
          transition: transform 1s ease;
          overflow-y: scroll;
     }

     .navbar.active {
          transition: transform 1s ease;
     }

     .navbar.active {
          display: block;
          transform: translateY(0%);
     }

     .navbar ul {
          display: grid;
          gap: 1rem;
     }

     .navbar ul>li>a {
          padding-bottom: 1rem;
          border-bottom: var(--border-main-color);
     }

     .navbar ul li:hover>.drop-down,
     .navbar ul li:hover>.drop-down.login {
          display: grid;
          height: max-content;
          position: static;
          display: none;
     }

     .active {
          display: block;
     }

     .input-box.destination {
          width: 100%;
     }

     .form-home {
          top: 60%;
     }

     .form-home .card-line:first-child {
          flex-direction: column;
     }

     .carousel-item h3 {
          top: 20%;
          font-size: 4rem;
     }
}

@media (width<=768px) {
     .heading {
          font-size: 3rem;
     }

     .form-home .card form .card-line:nth-last-child(2) {
          flex-direction: column;
     }

     .carousel-item h3 {
          top: 16%;
     }
}

@media (width<601px) {
     html {
          font-size: 48%;
     }

     .heading {
          font-size: 2.5rem;
     }

     .form-home .card-line:last-child {
          flex-direction: column;
     }
}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 414px) {
     .form-home .card form {
          padding: 1rem;
     }

     .carousel-item h3 {
          top: 15%;
          font-size: 3rem;
     }

     .carousel-control.prev {
          left: 1%;
     }

     .carousel-control.next {
          right: 1%;
     }

}

@media only screen and (max-width: 380px) {
     .form-home {
          width: 90%;
     }

     .carousel-control.prev {
          left: 0%;
     }

     .carousel-control.next {
          right: 0%;
     }
}

@media only screen and (max-width: 320px) {}