@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     outline: none;
     text-decoration: none;
     border: none;
     scroll-behavior: smooth;
     font-family: 'Montserrat', sans-serif;
}

:root {
     --main-color: #ac863b;
     --bg-color: #fff;
     --bg-second-color: #f7f8f9;
     --bg-third-color: #f4f4f4;
     --bg-transparent-main: rgb(172 134 59 / 70%);
     --bg--green: #18a800;

     --text-color-dark-heading: #3a3d45;
     --text-color-light: #fff;
     --text-color-dark: #515561;
     --text-color-main: var(--main-color);

     --star-color: #ffb600;

     --border-main-color: .1rem solid var(--main-color);
     --border-white: : .1rem solid #fff;
     --border: .1rem solid #ccc;

     --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
     --box-shadow-whatsapp: 1px 1px 4px rgba(60, 60, 60, 0.4);
     --box-shadow-products: 0 6px 10px rgba(0, 0, 0, .2);
     --box-shadow-drop-down: 0 3px 4px rgba(0, 0, 0, .2);
     --box-shadow-green: 0 3px 5px rgb(24 168 0);
}

html {
     font-size: 62.5%;
     overflow-x: hidden;
}

body {
     overflow-x: hidden;
}

section {
     padding: 5rem 3% 5rem;
}

header {
     padding: 0 3%;
}

footer {
     padding: 2rem 3%;
}

a {
     cursor: pointer;
}

.space {
     height: 100vh;
}

.space.black {
     background-color: rgb(49, 42, 42);
}

.space.white {
     background-color: rgb(245, 235, 235);
}

.heading {
     font-size: 3rem;
     line-height: normal;
     padding: 1rem 0;
     color: var(--text-color-dark);
     text-transform: capitalize;
     text-align: start;
     font-weight: 500;
}

.heading span {
     color: var(--main-color);
}

.heading-1 {
     font-size: 1.8rem;
     line-height: normal;
     padding: .5rem 0;
     color: var(--text-color-dark);
     text-transform: capitalize;
     text-align: start;
     font-weight: 500;
}

.flex-center {
     display: flex;
     justify-content: center;
     align-items: center;
}

.btn {
     font-size: 1.5rem;
     padding: 1rem;
     background-color: var(--main-color);
     color: var(--text-color-light);
     border: var(--border-main-color);
     border-radius: .1rem;
     cursor: pointer;
}

.btn:hover {
     background-color: var(--bg-color);
     color: var(--main-color);
     border: var(--border-main-color);
}

.header {
     position: fixed;
     top: 0;
     right: 0;
     width: 100%;
     z-index: 100;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: var(--bg-color);
     transition: height .5s ease;
}

.header.sticky {
     box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.logo img {
     height: 8rem;
     transition: height .5s ease;
}

.navbar {
     display: flex;
     align-items: center;
}

.navbar ul {
     list-style: none;
     display: flex;
     align-items: center;
     gap: 3rem;
}

.navbar ul li {
     position: relative;
}

.navbar ul li>a {
     font-size: 1.5rem;
     font-weight: 600;
     color: var(--text-color-dark-heading);
     display: flex;
     align-items: center;
     gap: .4rem;
}

.navbar ul li>a:hover span,
.navbar ul li>a:hover i {
     color: var(--main-color);
}

.icon {
     background-color: var(--text-color-dark-heading);
     display: flex;
     align-items: center;
     justify-content: center;
     padding: .4rem;
     border-radius: 100%;
     color: var(--bg-color);
     font-size: 2rem;
     border: var(--border-main-color);
     border-color: var(--bg-color);
}

.navbar ul li>a:hover .icon {
     background-color: var(--bg-color);
     border-color: var(--main-color);
}

.drop-down {
     position: absolute;
     z-index: 101;
     display: grid;
     background-color: var(--bg-color);
     top: 100%;
     right: 0;
     font-size: 1.4rem;
     min-width: 15rem;
     border: var(--border-main-color);
     color: var(--text-color-dark-heading);
     box-shadow: var(--box-shadow-drop-down);
     border-bottom-right-radius: 1rem;
     width: max-content;
     opacity: 0;
     height: 0;
     display: none;
     transition: opacity .2s ease;
     transition: height .5s ease;
}

.drop-down>a {
     font-weight: 700;
     padding: 1.3rem;
     border-bottom: var(--border-main-color);
     color: var(--text-color-dark-heading);
     text-transform: uppercase;
}

.drop-down>a:hover {
     background-color: var(--bg-third-color);
     color: var(--main-color);
}

.drop-down>a:last-child {
     border-bottom-right-radius: inherit;
     border-bottom: none;

}

.login {
     display: flex;
     flex-direction: column;
     padding: 2rem;
}

.drop-down.login {
     display: none;
     transition: opacity .2s ease;
     transition: height .5s ease;
}

.login .line {
     display: flex;
     font-size: 1.4rem;
     align-items: center;
     justify-content: center;
     gap: 1rem;
     font-weight: 700;
     padding: 1rem 0;
}

.login .line a {
     color: var(--text-color-dark-heading);
     font-size: 1.9rem;
}

.login .line a:hover {
     color: var(--main-color);
}

.login form {
     display: flex;
     flex-direction: column;
     gap: 2rem;

}

.login .input-box {
     display: flex;
     flex-direction: column;
     gap: 1rem;
}

.login .input-box label {
     font-weight: 600;
}

.login .input-box input {
     font-size: 1.5rem;
     border: var(--border-main-color);
     padding: 1rem;
     width: 100%;
}


.login form h3 {
     text-align: center;
}

.login form p {
     font-size: 1.4rem;
     padding-bottom: 2rem;
}

.social-link-box {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 2rem;
     align-self: center;
     padding-top: 2rem;
     padding-bottom: 1rem;
     border-top: var(--border-main-color);
     /* border-color: var(--text-color-dark-heading); */
}

.social-link-box a {
     font-size: 4rem;
     color: var(--text-color-dark-heading);
}

.social-link-box a:hover {
     color: var(--main-color);
}

.navbar ul li:hover>.drop-down,
.navbar ul li:hover>.drop-down.login {
     display: grid;
     height: max-content;
     opacity: 1;
}

#hamburg,
#hamburg-hover {
     font-size: 3.5rem;
     color: var(--text-color-dark-heading);
     cursor: pointer;
     font-weight: normal;
}

#hamburg:hover,
#hamburg-hover:hover {
     color: var(--main-color);
}

#hamburg {
     display: none;
}


.home {
     padding-top: 8rem;
     position: relative;
     min-height: 500px;
     height: 100vh;
     padding: 0;
}

.home .carousel {
     max-width: 100vw;
     max-height: 100vh;
     min-height: 500px;
}

.carousel {
     overflow: hidden;
     width: 100%;
     height: 100%;
}

.carousel-container {
     display: flex;
     transition: transform 0.5s ease;
     width: 100%;
     height: 100%;
}

.carousel {
     position: relative;
     /* box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64); */
     /* margin-top: 150px; */
}

.carousel-inner {
     position: relative;
     overflow: hidden;
     width: 100%;
     height: 100%;
}

.carousel-open:checked+.carousel-item {
     position: static;
     opacity: 100;
}

.carousel-item {
     position: absolute;
     opacity: 0;
     -webkit-transition: opacity 1s ease-out;
     transition: opacity 1s ease-out;
     width: 100%;
     height: 100%;
}

.carousel-item h3 {
     position: absolute;
     top: 30%;
     font-size: 5rem;
     color: var(--text-color-light);
     font-weight: 600;
     left: 0%;
     width: 100%;
     text-align: center;
}

.carousel-item img {
     display: block;
     height: 100%;
     width: 100%;
     max-width: 100%;
     object-fit: cover;
     object-position: center;
}

.carousel-control {
     background: var(--bg-transparent-white-form);
     border-radius: 50%;
     color: var(--text-color-light);
     cursor: pointer;
     display: none;
     font-size: 3.5rem;
     height: 4rem;
     line-height: 3.5rem;
     position: absolute;
     top: 45%;
     -webkit-transform: translate(0, -50%);
     cursor: pointer;
     -ms-transform: translate(0, -50%);
     transform: translate(0, -50%);
     text-align: center;
     width: 4rem;
     z-index: 10;
     user-select: none;
     background: rgba(0, 0, 0, 0.8);
}

.carousel-control.prev {
     left: 2%;
}

.carousel-control.next {
     right: 2%;
}

.carousel-control:hover {
     background: var(--main-color);
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3,
#carousel-4:checked~.control-4,
#carousel-5:checked~.control-5 {
     display: block;
}

.form-home {
     width: 80%;
     position: absolute;
     top: 70%;
     left: 50%;
     transform: translate(-50%, -50%);
     justify-content: start;
}

.form-home>a {
     display: flex;
     background-color: var(--main-color);
     align-items: center;
     justify-content: center;
     width: fit-content;
     color: var(--text-color-light);
     padding: 1rem;
     font-size: 1.4rem;
}

.form-home>a>img {
     width: 3rem;
}

.form-home .card form {
     background-color: var(--bg-color);
     padding: 2rem;
     display: flex;
     flex-direction: column;
     gap: 2rem;
     font-size: 1.4rem;
     border-radius: .3rem;
     border-top-left-radius: 0;
}

input,
select {
     font-size: 1.5rem;
}

.form-home .card form .card-line {
     display: flex;
     gap: 1rem;
     width: 100%;
}

.form-home .input-box {
     display: flex;
     flex-direction: column;
     border: var(--border-main-color);
     border-radius: .5rem;
     width: 100%;
}

.form-home .card-line:first-child .column {
     display: flex;
     gap: 1rem;
     width: 100%;
     height: 100%;
}

.form-home label {
     padding: .5rem 1rem;
     width: 100%;
     color: grey;
     font-weight: 600;
}

.form-home .input-box input {
     padding: .1rem 1rem;
     border-radius: inherit;
     width: 100%;
}

.form-home a.btn {
     border: var(--border-main-color);
     width: 100%;
     height: 4.9rem;
     display: flex;
     justify-content: center;
     align-items: center;
}

.input-box.destination {
     width: 200%;
}

.form-home .card-line:nth-last-child(2) .column {
     border: var(--border-main-color);
     border-radius: .5rem;
}

.input-check-box {
     border-right: var(--border-main-color);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: .5rem 0rem;
     gap: 1rem;
     width: 100%;
     height: 5rem;
     position: relative;
     user-select: none;
}

.input-check-box:last-child {
     border-right: none;
}

.input-check-box:hover {
     background-color: rgba(128, 128, 128, 0.048);
}

.input-check-box label {
     width: 100%;
     color: grey;
     font-weight: 600;
     text-align: center;
     height: 100%;
     cursor: pointer;
     white-space: nowrap;
}

.input-check-box input {
     display: none;
}

.input-check-box .checkmark {
     background-color: rgba(128, 128, 128, 0.171);
     width: 80%;
     height: .3rem;
     border-radius: 2rem;
     margin: .5rem 0;
     position: absolute;
     bottom: .5rem;
}

.input-check-box input[type=checkbox]:checked~.checkmark {
     background-color: var(--main-color);
}

.card-line .column {
     display: flex;
     align-items: center;
     width: 100%;
}

.input-select-box {
     display: flex;
     flex-direction: column;
     border: var(--border-main-color);
     border-radius: .5rem;
     width: 100%;
}

.form-home .input-select-box label {
     padding: .5rem 1rem;
     width: 100%;
     color: grey;
     font-weight: 600;
}

.form-home .input-select-box select {
     padding: .1rem 1rem;
     border-radius: inherit;
}

.form-home .box {
     width: 100%;
     align-items: center;
     display: flex;
     gap: 1rem;
     padding: 1rem;
     user-select: none;
}

.form-home .card-line:last-child .column {
     display: flex;
     gap: 1rem;
     width: 100%;
     height: 100%;
}

.form-home .box input {
     height: 2rem;
     width: 2rem;
}

/* Destination section */

.best-destination {
     background-color: var(--bg-second-color);
}

.swiper {
     width: 100%;
     height: 100%;
     padding: 3rem 0 !important;
}

.swiper-slide {
     text-align: center;
     font-size: 18px;
     display: flex;
     justify-content: center;
     align-items: center;
     user-select: none;
}

.swiper-slide .slide-box {
     background: #fff;
     transition: .3s ease;
     cursor: pointer;
     box-shadow: var(--box-shadow-products);
}

.swiper-slide .slide-box:hover {
     transform: scale(1.05);
}

.swiper-slide img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
     color: var(--main-color) !important;
}

.swiper-button-next {
     right: 0 !important;
}

.swiper-button-prev {
     left: 0 !important;
}

.slide-box .content {
     padding: 2rem 0;
     width: 100%;
     font-size: 2rem;
}

#best-destination .slide-box .content a {
     color: var(--main-color);
}

/* Featured Section */
.space-between {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.slide-box .content .heading-1 {
     text-align: center;
     text-transform: uppercase;
     font-weight: 600;
     color: var(--main-color);
}

.slide-box .content a {
     color: var(--text-color-dark-heading);
}

#featured .swiper {
     height: 45rem;
}

#featured .swiper-slide {
     height: 100%;
}

.image-box {
     position: relative;
     display: inline-block;
}

.stars {
     color: var(--star-color);
     background-color: var(--bg-color);
     position: absolute;
     bottom: 1rem;
     left: 1rem;
     display: flex;
     align-items: center;
     padding: .5rem;
}


/* Adventure Section */

.adventure {
     padding-left: 0;
     padding-right: 0;
}

.adventure .heading {
     padding-left: 3%;
     padding-right: 3%;
     padding-bottom: 5rem;
}

.adventure-grid-container {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr;
     transition: 1s;
     padding-bottom: 4rem;
}

.adventure-grid-container:has(.one) {
     transition: 1s ease;
}

.adventure-grid-container:has(.one:hover) {
     grid-template-columns: 2fr 1fr 1fr 1fr 1fr 0fr;
}

.adventure-grid-container:has(.two:hover) {
     grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0fr;
}

.adventure-grid-container:has(.three:hover) {
     grid-template-columns: 1fr 1fr 2fr 1fr 1fr 0fr;
}

.adventure-grid-container:has(.four:hover) {
     grid-template-columns: 1fr 1fr 1fr 2fr 1fr 0fr;
}

.adventure-grid-container:has(.five:hover) {
     grid-template-columns: 1fr 1fr 1fr 1fr 2fr 0fr;
}

.adventure-grid-container:has(.six:hover) {
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr .7fr;
}

.adventure-item {
     height: 48rem;
     transition: .5s ease;
     position: relative;
     overflow: hidden;
}

.adventure-item.six {
     display: flex;
     align-items: center;
     justify-content: center;
     color: var(--text-color-light);
     background-color: var(--main-color);
     font-size: 4rem;

}

.adventure-item::after {
     content: '';
     position: absolute;
     inset: 0;
     background-color: var(--bg-transparent-main);
     display: flex;
     align-items: center;
     justify-content: center;
     color: var(--text-color-light);
     font-size: 2.2rem;
     font-weight: 600;
     transition: .5s ease;
     text-align: center;
}

.adventure-item.one::after {
     content: 'Dhow Cruise';
}

.adventure-item.two::after {
     content: 'Safari Adventure';
}

.adventure-item.three::after {
     content: 'Dubai City Tour';
}

.adventure-item.four::after {
     content: 'Dubai Dolphinarium';
}

.adventure-item.five::after {
     content: 'Ferrari World Tour';
}

.adventure-item:hover::after {
     opacity: 0;
}

.adventure-layer {
     background-color: var(--bg-transparent-main);
     color: var(--text-color-light);
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     padding: 1rem;
     transform: translateY(100%);
     transition: .5s ease;
}

.adventure-layer h2 {
     font-size: 2rem;
}

.adventure-layer p {
     font-size: 1.4rem;
}

.adventure-item img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.adventure-item:hover .adventure-layer {
     transform: translateY(0);
}

.near-by-grid-container {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 3rem;
     padding: 4rem 0;
}

.near-by-item {
     overflow: hidden;
     height: 40rem;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
}

.near-by-item:hover img {
     transform: scale(1.2);
}

.near-by-item img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
     transition: 2s ease;
}

.near-by-item.first-two-fr {
     grid-column: 1/3;
}

.near-by-item.last-two-fr {
     grid-column: 2/4;
}

.near-by-item .btn {
     position: absolute;
     top: 80%;
     z-index: 1;
     transition: top 1s ease;
     border: var(--border-main-color);
     border-color: var(--bg-color);
     border-radius: .1rem;
}

.near-by-item .btn:hover {
     border-color: var(--main-color);
}

.near-by-item::after {
     transition: 2s ease;
     position: absolute;
     content: '';
     inset: 0;
     background-color: var(--bg-transparent-main);
     position: absolute;
     opacity: 0;
}

.near-by-item:hover::after {
     opacity: .7;
}

.near-by-item:hover .btn {
     top: 50%;
}

/* Supplier section */
.supplier {
     padding-left: 0;
     padding-right: 0;
}

.supplier .heading {
     padding-left: 3%;
     padding-right: 3%;
     padding-bottom: 5rem;
}

#supplier.swiper {
     background-color: var(--main-color);
     height: 20rem;
}

.supplier-box {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.supplier-box img {
     width: 90% !important;
     height: 90% !important;
     object-fit: contain;
}

#supplier .swiper-pagination-bullet {
     background-color: var(--bg-color);
}

/* Footer Design */

.footer {
     background-color: var(--bg-second-color);
}

.footer-top {
     display: flex;
     gap: 1rem;
     justify-content: space-between;
     padding: 3rem 0;
     flex-wrap: wrap;
}

.footer-top .logo img {
     height: 5rem;
}

.footer-box {
     max-width: 35rem;
     display: grid;
     gap: 1rem;
     min-width: fit-content;
     padding: 1rem;
     align-items: start;
}

.footer-box:nth-last-child(3) {
     min-width: auto;
}

.footer-box:last-child {
     min-width: auto;
}

.footer-box:first-child {
     display: flex;
     align-items: center;
     flex-direction: column;
}

.footer-box p {
     font-size: 1.7rem;
     color: var(--main-color);
     font-weight: 500;
}

.footer-box>a {
     font-size: 1.6rem;
     color: var(--text-color-dark-heading);
     font-weight: 500;
     text-transform: capitalize;
     display: flex;
     align-items: center;
     gap: 1rem;
     transition: transform .5s ease;
}

.footer-box>a:hover {
     color: var(--main-color);
     transform: translate(1rem);
}

.footer-box>a i {
     color: var(--main-color);
     font-size: 2.5rem;
     font-weight: 600;
}

.footer-box>h2 {
     font-size: 2rem;
     color: var(--main-color);
}

.footer-box .social-link-box {
     border: 0;
     justify-content: start;
}

p.about-text-footer {
     color: var(--text-color-dark-heading);
}

.footer-down {
     border-top: var(--border);
     padding: 3rem 0 1rem;
}

.footer-down .space-between {
     margin: 0 10rem;
     font-size: 1.4rem;
     color: var(--text-color-dark-heading);
     font-weight: 500;
     flex-wrap: wrap;
     gap: 1rem;
}

.footer-down a {
     color: var(--text-color-dark-heading);
}

.footer-down a:hover {
     color: var(--main-color);
}

/* Fixed top */
.fixed-btns {
     position: fixed;
     bottom: 1rem;
     right: 2rem;
     z-index: 100;
     flex-direction: column;
     gap: 1.5rem;
}

.top a {
     background-color: var(--main-color);
     border-radius: 10rem;
     border: var(--border);
     transition: background-color .3s ease;
}

.top a i {
     font-size: 4rem;
     color: var(--text-color-light);
}

.whatsapp a {
     background-color: var(--main-color);
     border-radius: 10rem;
     padding: 1rem;
     border: var(--border);
}

.top a:hover {
     background-color: rgb(92, 90, 90);
}

.whatsapp a i {
     font-size: 4rem;
     color: var(--text-color-light);
}


/* Search region Page */
.search-region-grid {
     padding-top: 8rem;
     display: grid;
     min-height: 100vh;
     grid-template-columns: 30rem auto 13%;
}

.search-left {
     background-color: var(--bg-third-color);
     padding: 1.5rem;
     padding-top: 3rem;
     display: flex;
     flex-direction: column;
     gap: 1.5rem;
}

.search-middle {
     background-color: var(--bg-third-color);
     padding: 1.5rem;
     padding-top: 3rem;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     gap: 1.5rem;
     padding-left: 0;
}

.search-right {
     background-color: var(--main-color);
     position: relative;
     padding-top: 5rem;
     transition: all .5s ease;
}

.search-right .btn {
     background-color: var(--bg-third-color);
     color: var(--text-color-dark-heading);
     border: var(--border);
}

.search-right.active {
     position: fixed;
     display: block;
     right: 0;
     z-index: 1;
     right: 0;
     bottom: 0;
     top: 8rem;
     width: 50vw;
     background-color: var(--main-color);
     height: calc(100vh - 8.1rem);
}

.card-map {
     background: url('../img/searchRegion/bg-map.svg');
     border-radius: .2rem;
     padding: 3rem 1.5rem;
     user-select: none;
     display: flex;
     align-items: center;
     justify-content: center;
}

.card-map .btn {
     border: none;
     background-color: var(--bg-third-color);
     color: var(--text-color-dark-heading);
}

.card-map .btn:hover {
     background-color: var(--main-color);
     color: var(--text-color-light);
}

.card-map .btn.active {
     background-color: var(--main-color);
     color: var(--text-color-light);
}

.card-search {
     background-color: var(--bg-color);
     border-radius: .2rem;
     padding: 1.5rem;
     user-select: none;
}

.card-search p {
     font-size: 1.4rem;
     display: flex;
     align-items: center;
     gap: 1rem;
     color: grey;
}

.breadcrum p>a {
     color: var(--main-color);
}

.card-search p i {
     font-size: 3rem;
}

.question-mark {
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: grey;
     border-radius: 100rem;
     padding: .2rem;
     height: 2rem;
     width: 2rem;
     font-weight: 600;
     cursor: pointer;
     color: var(--text-color-light);
     font-size: 1.4rem;
}

.card-search h2 {
     color: grey;
     /* padding-bottom: 1rem; */
     font-weight: 500;
     font-size: 1.8rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.card-search h2 i {
     user-select: none;
     cursor: pointer;
}

.card-search select {
     width: 100%;
     border: var(--border);
     border-color: var(--bg-color);
}

.card-search .search-line {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.search-line.hidden {
     display: none;
}

.card-search .search-line .box {
     display: flex;
     align-items: center;
     gap: 1rem;
     font-size: 1.6rem;
     font-weight: 500;
     color: grey;
}

.card-search .search-line .question-mark {
     height: 1.4rem;
     width: 1.4rem;
     font-size: 1rem;
     background-color: black;
}

.card-search .search-line {
     padding-top: 1rem;
}

.card-search .search-line label,
.card-search .search-line input {
     cursor: pointer;
}

.card-search .search-line .value {
     font-size: 1.2rem;
     font-weight: 500;
}

.card-product-search {
     display: flex;
     background-color: var(--bg-color);
     border-radius: .5rem;
}


.card-product-search .left {
     position: relative;
}

.card-product-search .left .heart-product {
     position: absolute;
     top: 1rem;
     left: 1rem;
     z-index: 10;
     background-color: var(--bg-third-color);
     height: 5rem;
     width: 5rem;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 1rem;
     font-size: 2.5rem;
     border-radius: 100rem;
}

.card-product-search .right {
     width: 100%;
     padding: 1rem;
     position: relative;
}

#search-product-slider.swiper {
     width: 100%;
     height: 100%;
     padding: 0 !important;
     width: 28rem;
     height: 75%;
}

#search-product-slider .swiper-slide img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.card-product-search .right .stars {
     position: static;
}

.stars i {
     color: var(--star-color) !important;
}

.right .tag {
     position: absolute;
     background-color: var(--bg--green);
     color: var(--bg-color);
     padding: 1.5rem 1rem;
     font-size: 2rem;
     font-weight: 600;
     right: 1rem;
     top: 0;
     box-shadow: var(--box-shadow-green);
     user-select: none;
}

.box-product {
     display: flex;
     flex-direction: column;
     gap: 1rem;
     padding: 2rem 0;
     border-bottom: var(--border);
}

.line-product {
     display: flex;
     align-items: center;
     gap: 1rem;
     font-size: 1.4rem;
}

.line-product.space-between {
     justify-content: space-between;
}

.box-product:first-child .line-product:first-child {
     padding-right: 10rem;
     user-select: none;
}

.line-product:nth-child(2) {
     padding-right: 5rem;
}

.line-product:first-child img {
     height: 2rem;
}

.line-product.column {
     flex-direction: column;
     gap: .5rem;
     align-items: start;
     text-overflow: ellipsis;
}

.line-product h2 {
     font-size: 1.6rem;
     color: var(--main-color);
}

.line-product p {
     font-size: 1.4rem;
     color: var(--main-color);
}

.line-product.end {
     justify-content: end;
     gap: .1rem;
     font-size: 2rem;
}

.line-product i {
     color: var(--main-color);
}

.line-product .btn {
     border: var(--border-main-color);
}

.box-product.grid-3 {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
}

.column-product {
     display: grid;
}

.column-product p {
     display: flex;
     gap: 1rem;
     font-size: 1.4rem;
     color: var(--text-color-dark-heading);
     font-weight: 600;
}

.column-product p i {
     font-size: 2rem;
}

.column-product h2 {
     font-size: 2rem;
     color: var(--text-color-dark);
}

.search-detail-grid {
     padding-top: 8rem;
     display: grid;
     min-height: 100vh;
     grid-template-columns: 75% 35%;
     background-color: var(--bg-third-color);
}

.search-detail-grid .left {
     display: flex;
     flex-direction: column;
     gap: 1rem;
     padding: 1rem;
}

.search-detail-grid>.right {
     background-color: var(--bg-third-color);
}

.search-detail-grid .card-line {
     display: flex;
     gap: 1rem;
     width: 100%;
     flex-wrap: wrap;
}

.card-search form {
     display: flex;
     align-items: center;
     gap: 1rem;
     font-size: 1.4rem;
}

.card-search form label {
     color: var(--main-color);
     font-size: 2rem;
}

.breadcrum p {
     flex-wrap: wrap;
}


.card-search.space-between .left {
     display: flex;
     gap: 1rem;
     align-items: center;
     flex-direction: row;
}

.card-search.space-between .left .heart-product {
     font-size: 2.5rem;
     background-color: var(--bg-third-color);
     color: var(--text-color-dark-heading);
     padding: 1rem;
     height: 5rem;
     width: 5rem;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 1rem;
     font-size: 2.5rem;
     border-radius: 100rem;
}

.card-search.space-between .left .content h1 {
     color: var(--main-color);
}

.card-search.space-between .left .content a {
     color: var(--main-color);
}

.card-search.space-between .left .content a i {
     font-size: 1.7rem;
}

.card-search.space-between .right {
     display: flex;
     flex-direction: column;
     gap: 1rem;
     background-color: var(--bg-color);
}

.card-search.space-between .right p {
     color: var(--text-color-dark-heading);
     font-size: 2rem;
     font-weight: 600;
}

.card-search.space-between .right .btn {
     border: var(--border-main-color);
     text-align: center;
}

.card-search.gallery {
     display: flex;
}

/* Gallery Carosel start */

.card-search.gallery .left {
     width: 75%;
     background-color: var(--bg-third-color);
     position: relative;
     height: fit-content;
}

.card-search.gallery .swiper-slide {
     text-align: center;
     font-size: 1.5rem;
     background: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
}

.card-search.gallery .swiper-slide img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.card-search.gallery #gallery-thumb {
     /* gallery-thumb */
     width: 100rem;
     max-width: 100%;
     padding: 0 !important;
     margin: 0;
     height: fit-content;
}

.card-search.gallery #gallery-slider {
     /* gallery-slider */
     width: 100rem;
     padding: 0 !important;
     margin: 0;
     max-width: 100%;
     height: 40rem;
}

.card-search.gallery .swiper-slide {
     background-size: cover;
     background-position: center;
     border: var(--border-main-color);
}

.card-search.gallery .mySwiper {
     height: 40%;
     box-sizing: border-box;
     padding: 10px 0;
}

.card-search.gallery .mySwiper .swiper-slide {
     width: 25%;
     height: 8rem;
     opacity: 0.4;
     cursor: pointer;
}

.card-search.gallery .mySwiper .swiper-slide:hover {
     opacity: 1;
}

.card-search.gallery .mySwiper .swiper-slide-thumb-active {
     opacity: 1;
}

.card-search.gallery .swiper-slide img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
}

/* Gallery Carosel end */

.card-search.gallery .right {
     width: 100%;
     padding: 1rem;
     position: relative;
     font-weight: 600;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

p.green {
     color: var(--bg--green);
}

.btn.text-center {
     text-align: center;
}











/* responsive breakpoints less than 5200px  */
@media (width<=5200px) {
     html {
          font-size: 220%;
     }
}

@media (width<=5000px) {
     html {
          font-size: 200%;
     }
}

@media (width<=4500px) {
     html {
          font-size: 180%;
     }
}


@media (width<=4000px) {
     html {
          font-size: 160%;
     }
}

@media (width<=3500px) {
     html {
          font-size: 140%;
     }
}

@media (width<=3000px) {
     html {
          font-size: 120%;
     }
}

@media (width<=2500px) {
     html {
          font-size: 100%;
     }
}

@media (width<=2000px) {
     html {
          font-size: 80%;
     }
}

@media (width<=1500px) {
     html {
          font-size: 60%;
     }
}

@media (width<=1280px) {

     /* Search deatail page */
     .search-detail-grid {
          grid-template-columns: 1fr;
     }

     .search-detail-grid .left .card-search {
          width: calc(100vw - 2rem);
     }

}

@media (width<=1200px) {
     html {
          font-size: 55%;
     }
}

@media (width<=1024px) {

     /* Search Region page */
     .search-region-grid {
          grid-template-columns: 30rem auto;
          position: relative;
     }

     .search-right {
          display: none;
     }

}

@media (width<992px) {
     html {
          font-size: 50%;
     }

     #hamburg {
          display: block;
     }

     .navbar {
          position: absolute;
          background-color: var(--bg-color);
          top: 100%;
          left: 0;
          right: 0;
          width: 100%;
          min-height: 88vh;
          padding-top: 1rem;
          border-top: var(--border-main-color);
          display: none;
          transform: translateY(-100%);
          transition: transform 1s ease;
          overflow-y: scroll;
     }

     .navbar.active {
          transition: transform 1s ease;
     }

     .navbar.active {
          display: block;
          transform: translateY(0%);
     }

     .navbar ul {
          display: grid;
          gap: 1rem;
     }

     .navbar ul>li>a {
          padding-bottom: 1rem;
          border-bottom: var(--border-main-color);
     }

     .navbar ul li:hover>.drop-down,
     .navbar ul li:hover>.drop-down.login {
          display: grid;
          height: max-content;
          position: static;
          display: none;
     }

     .active {
          display: block;
     }

     .input-box.destination {
          width: 100%;
     }

     .form-home {
          top: 60%;
     }

     .form-home .card-line:first-child {
          flex-direction: column;
     }

     .carousel-item h3 {
          top: 20%;
          font-size: 4rem;
     }

     .near-by-grid-container {
          gap: 2rem;
     }

     .near-by-item {
          height: 30rem;
     }

     /* Search Region */
     .search-right.active {
          width: calc(100vw - 30rem);
     }
}

@media (width<=768px) {
     .heading {
          font-size: 3rem;
     }

     .form-home .card form .card-line:nth-last-child(2) {
          flex-direction: column;
     }

     .carousel-item h3 {
          top: 16%;
     }

     .adventure-grid-container {
          grid-template-columns: 1fr;
     }

     .adventure-item {
          height: 30rem;
     }

     .adventure-item.six {
          height: 10rem;
     }

     .adventure-grid-container:has(.adventure-item:hover) {
          grid-template-columns: 1fr;
     }

     .footer-down .space-between {
          margin: 0;
          justify-content: center;
     }

     /* Search Region Page */
     .card-product-search {
          flex-direction: column;
     }

     #search-product-slider.swiper {
          height: 100%;
     }

     .card-product-search .left {
          width: 100%;
     }

     #search-product-slider.swiper {
          width: 55vw;
     }

     .tag {
          right: 0;
     }

     /* Search detail page */
     .search-detail-form {
          display: none;
     }

     .search-detail-grid .breadcrum {
          width: 100%;
     }

}

@media (width<601px) {
     html {
          font-size: 48%;
     }

     .heading {
          font-size: 2.5rem;
     }

     .form-home .card-line:last-child {
          flex-direction: column;
     }

     .near-by-grid-container {
          grid-template-columns: 1fr;
     }

     .near-by-item.first-two-fr {
          grid-column: auto;
     }

     .near-by-item.last-two-fr {
          grid-column: auto;
     }

     /* Search Region page */
     .search-region-grid {
          grid-template-columns: 1fr;
     }

     #search-product-slider.swiper {
          width: 94vw;
     }

     .search-middle {
          padding-left: 1.5rem;
     }

     /* Search Region */
     .search-right.active {
          width: calc(100vw);
          top: 22rem;
          height: calc(100vh - 22.1rem);
     }

     .card-search.space-between.details {
          flex-direction: column;
          gap: 2rem;
     }

     .card-search.space-between .left {
          width: 100%;
          padding: 0;
     }

     .card-search.space-between.details .right {
          width: 100%;
     }

     .card-search.space-between.details .right p {
          text-align: center;
          width: 100%;
          display: block;
     }

     .card-search.gallery {
          flex-direction: column;
     }

     .card-search.gallery .left {
          width: 100%;
     }

     .card-search.gallery #gallery-slider {
          height: 100%;
     }
}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 414px) {
     .form-home .card form {
          padding: 1rem;
     }

     .carousel-item h3 {
          top: 15%;
          font-size: 3rem;
     }

     .carousel-control.prev {
          left: 1%;
     }

     .carousel-control.next {
          right: 1%;
     }

}

@media only screen and (max-width: 380px) {
     .form-home {
          width: 90%;
     }

     .carousel-control.prev {
          left: 0%;
     }

     .carousel-control.next {
          right: 0%;
     }
}

@media only screen and (max-width: 320px) {}