@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     outline: none;
     text-decoration: none;
     border: none;
     scroll-behavior: smooth;
     font-family: 'Montserrat', sans-serif;
}

:root {
     --main-color: #ac863b;
     --bg-color: #fff;
     --bg-second-color: #f7f8f9;
     --bg-third-color: #f4f4f4;
     --bg-transparent-main: rgb(172 134 59 / 70%);

     --text-color-dark-heading: #3a3d45;
     --text-color-light: #fff;
     --text-color-dark: #515561;
     --text-color-main: var(--main-color);

     --star-color: #ffb600;

     --border-main-color: .1rem solid var(--main-color);
     --border-white: : .1rem solid #fff;
     --border: .1rem solid #ccc;

     --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
     --box-shadow-whatsapp: 1px 1px 4px rgba(60, 60, 60, 0.4);
     --box-shadow-products: 0 6px 10px rgba(0, 0, 0, .2);
     --box-shadow-drop-down: 0 3px 4px rgba(0, 0, 0, .2);
}

html {
     font-size: 62.5%;
     overflow-x: hidden;
}

body {
     overflow-x: hidden;
}

section {
     padding: 5rem 3% 5rem;
}

header {
     padding: 0 3%;
}

footer {
     padding: 2rem 3%;
}

a {
     cursor: pointer;
}

.space {
     height: 100vh;
}

.space.black {
     background-color: rgb(49, 42, 42);
}

.space.white {
     background-color: rgb(245, 235, 235);
}

.heading {
     font-size: 3rem;
     line-height: normal;
     padding: 3rem 2rem 1rem;
     color: var(--text-color-dark);
     text-transform: capitalize;
     text-align: start;
     font-weight: 100;
}

.flex-center {
     display: flex;
     justify-content: center;
     align-items: center;
}

.btn {
     font-size: 1.5rem;
     padding: 1rem;
     background-color: var(--main-color);
     color: var(--text-color-light);
     border: var(--border-white);
     border-radius: .4rem;
     cursor: pointer;
}

.btn:hover {
     background-color: var(--bg-color);
     color: var(--main-color);
     border: var(--border-main-color);
}

.header {
     position: fixed;
     top: 0;
     right: 0;
     width: 100%;
     z-index: 100;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: var(--bg-color);
}

.header.sticky {
     box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.logo img {
     height: 8rem;
}

.navbar {
     display: flex;
     align-items: center;
}

.navbar ul {
     list-style: none;
     display: flex;
     align-items: center;
     gap: 3rem;
}

.navbar ul li {
     position: relative;
}

.navbar ul li>a {
     font-size: 1.5rem;
     font-weight: 600;
     color: var(--text-color-dark-heading);
     display: flex;
     align-items: center;
     gap: .4rem;
}

.navbar ul li>a:hover span,
.navbar ul li>a:hover i {
     color: var(--main-color);
}

.icon {
     background-color: var(--text-color-dark-heading);
     display: flex;
     align-items: center;
     justify-content: center;
     padding: .4rem;
     border-radius: 100%;
     color: var(--bg-color);
     font-size: 2rem;
     border: var(--border-main-color);
     border-color: var(--bg-color);
}

.navbar ul li>a:hover .icon {
     background-color: var(--bg-color);
     border-color: var(--main-color);
}

.drop-down {
     position: absolute;
     z-index: 101;
     display: grid;
     background-color: var(--bg-color);
     top: 100%;
     right: 0;
     font-size: 1.4rem;
     min-width: 15rem;
     border: var(--border-main-color);
     color: var(--text-color-dark-heading);
     box-shadow: var(--box-shadow-drop-down);
     border-bottom-right-radius: 1rem;
     width: max-content;
     opacity: 0;
     height: 0;
     display: none;
     transition: opacity .2s ease;
     transition: height .5s ease;
}

.drop-down>a {
     font-weight: 700;
     padding: 1.3rem;
     border-bottom: var(--border-main-color);
     color: var(--text-color-dark-heading);
     text-transform: uppercase;
}

.drop-down>a:hover {
     background-color: var(--bg-third-color);
     color: var(--main-color);
}

.drop-down>a:last-child {
     border-bottom-right-radius: inherit;
     border-bottom: none;

}

.login {
     display: flex;
     flex-direction: column;
     padding: 2rem;
}

.drop-down.login {
     display: none;
     transition: opacity .2s ease;
     transition: height .5s ease;
}

.login .line {
     display: flex;
     font-size: 1.4rem;
     align-items: center;
     justify-content: center;
     gap: 1rem;
     font-weight: 700;
     padding: 1rem 0;
}

.login .line a {
     color: var(--text-color-dark-heading);
     font-size: 1.9rem;
}

.login .line a:hover {
     color: var(--main-color);
}

.login form {
     display: flex;
     flex-direction: column;
     gap: 2rem;

}

.login .input-box {
     display: flex;
     flex-direction: column;
     gap: 1rem;
}

.login .input-box label {
     font-weight: 600;
}

.login .input-box input {
     font-size: 1.5rem;
     border: var(--border-main-color);
     padding: 1rem;
}


.login form h3 {
     text-align: center;
}

.login form p {
     font-size: 1.4rem;
     padding-bottom: 2rem;
}

.social-link-box {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 2rem;
     align-self: center;
     padding-top: 2rem;
     padding-bottom: 1rem;
     border-top: var(--border-main-color);
     /* border-color: var(--text-color-dark-heading); */
}

.social-link-box a {
     font-size: 4rem;
     color: var(--text-color-dark-heading);
}

.social-link-box a:hover {
     color: var(--main-color);
}

.navbar ul li:hover>.drop-down,
.navbar ul li:hover>.drop-down.login {
     display: grid;
     height: max-content;
     opacity: 1;
}

#hamburg,
#hamburg-hover {
     font-size: 3.5rem;
     color: var(--text-color-dark-heading);
     cursor: pointer;
     font-weight: normal;
}

#hamburg:hover,
#hamburg-hover:hover {
     color: var(--main-color);
}

#hamburg {
     display: none;
}


/* responsive breakpoints less than 5200px  */

@media (width<=5200px) {
     html {
          font-size: 220%;
     }
}

@media (width<=5000px) {
     html {
          font-size: 200%;
     }
}

@media (width<=4500px) {
     html {
          font-size: 180%;
     }
}

@media (width<=4000px) {
     html {
          font-size: 160%;
     }
}

@media (width<=3500px) {
     html {
          font-size: 140%;
     }
}

@media (width<=3000px) {
     html {
          font-size: 120%;
     }
}

@media (width<=2500px) {
     html {
          font-size: 100%;
     }
}

@media (width<=2000px) {
     html {
          font-size: 80%;
     }
}

@media (width<=1500px) {
     html {
          font-size: 60%;
     }
}

@media (width<=1200px) {
     html {
          font-size: 55%;
     }
}

@media (width<992px) {
     html {
          font-size: 50%;
     }

     #hamburg {
          display: block;
     }

     .navbar {
          display: none;
     }

     .active {
          display: block;
     }
}

@media (width<=768px) {
     .heading {
          font-size: 3rem;
     }
}

@media (width<601px) {
     html {
          font-size: 48%;
     }

     .heading {
          font-size: 2.5rem;
     }
}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 414px) {}

@media only screen and (max-width: 320px) {}